.catalog {
    .catalog__wrap {
        display: flex;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .catalog__card {
        background-color: gray;
        min-height: 500px;
        min-width: 500px;
      ;
        border-radius: 13px;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center ;

        display: flex;

        &:hover {
            div {
                backdrop-filter: blur(28px);
            }
        }

        &:nth-child(1) {
            background-image: url(https://framerusercontent.com/images/QVKFKT3dyGxloXfzzpurVKNMM6M.jpg?scale-down-to=1024);
        }
        &:nth-child(2) {
            background-image: url(https://framerusercontent.com/images/AX9PukosNfGVcfXw3YapiYpl9g.jpg?scale-down-to=1024);
        }
        &:nth-child(3) {
            background-image: url(https://framerusercontent.com/images/BAXywubxN8sAhfJg3AgGgFI.jpg?scale-down-to=1024);
        }
        &:nth-child(4) {
            background-image: url(https://framerusercontent.com/images/3WALBX7nnuG7p85CLjlVmWPDHw.jpg?scale-down-to=1024);
        }
        &:nth-child(5) {
            background-image: url(https://framerusercontent.com/images/aH1eUgCIIIrbJF7TUlaKAehoI.jpg?scale-down-to=1024);
        }
        &:nth-child(6) {
            background-image: url(https://framerusercontent.com/images/UbS7rWmAwWxjtwM7oaWwRuGo.jpg?scale-down-to=1024);
        }

        div {
            height: 100%;
            
            padding: 25px;
            color: white;
            display: flex;
            justify-content: space-between;

            button {
                width: 50px;
                height: 50px;
                background-repeat: 50%;
                bottom: none;
            }
        }
    }
}
